@font-face {
  font-family: 'Luciole';
  src: url('../fonts/Luciole-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Luciole';
  font-weight: bold;
  src: url('../fonts/Luciole-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MedievalScrollOfWisdom';
  src: url('../fonts/MedievalScrollOfWisdom.ttf') format('truetype');
}

/* .root is the root element of all scenes in JavaFx so things defined in .root are shared amongst all scenes */
.root {
  -fx-font-family: 'Luciole';
  -fx-font-size: 20px;
  -fx-background-color: rgb(64, 63, 63);
}

.medieval-font {
  -fx-font-family: 'Medieval Scroll of Wisdom';
}

.regular-text {
  -fx-font-weight: normal;
}

.bold-text {
  -fx-font-weight: bold;
}

.list-view .scroll-bar:vertical {
  -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .thumb {
  -fx-background-color: #a0a0a0;
  -fx-background-radius: 5em;
}

.list-view .scroll-bar:vertical .track {
  -fx-background-color: transparent;
}

.icon-background {
  -fx-fill: transparent;
  -fx-stroke: transparent;
  -fx-stroke-width: 1;
}

.icon-background:hover {
  -fx-fill: rgba(255, 255, 255, 0.1);
  -fx-stroke: lightgray;
}


/*
Styles for buttons
 */
.button {
  -fx-cursor: hand;
  -fx-max-width: 400;
  -fx-min-width: 200;
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-background-color: #699521;
  -fx-background-radius: 16px;
  -fx-border-radius: 15px;
  -fx-border-color: #393838;
  -fx-border-width: 2px;
  -fx-background-insets: 0;

}

.button:hover {
  -fx-background-color: #7fb628;
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 4, 4);
}

.quit-button {
  -fx-background-color: #933434;
}

.quit-button:hover {
  -fx-background-color: #bc4242;
}


.key-binding-button {
  -fx-background-color: #ca7840;
  -fx-text-fill: #e4e4e4;
  -fx-max-width: 100;
  -fx-min-width: 100;
  -fx-font-size: 16px;
  -fx-font-weight: normal;
  -fx-background-radius: 6px;
  -fx-border-radius: 5px;
}

/* Styles for the alerts
 */
.alert {
  -fx-background-color: rgb(64, 63, 63);
  -fx-border-color: #c51222;
  -fx-border-radius: 0 0 5px 5px;
  -fx-border-width: 3px;
}

.alert > .header-panel {
  -fx-background-color: rgb(174, 173, 173);
}

.alert > .header-panel > .label {
  -fx-font-weight: bold;
  -fx-text-fill: #c51222;
  -fx-font-size: 20px;
}

.alert .content {
  -fx-text-fill: #d8c601;
}

.alert .button {
  -fx-background-color: #ca7840;
  -fx-text-fill: #a39c95;
  -fx-max-width: 80;
  -fx-min-width: 80;
  -fx-font-size: 20px;
  -fx-font-weight: normal;
  -fx-background-radius: 11px;
  -fx-border-radius: 10px;
  -fx-border-width: 1px;
}

.alert .button:hover {
  -fx-background-color: #ec8d4b;
  -fx-text-fill: #f3efeb;
}

.reset-high-scores-alert {
  -fx-background-color: rgb(174, 173, 173);

}

.reset-high-scores-alert > .header-panel {
  -fx-background-color: rgb(64, 63, 63);
}

.reset-high-scores-alert > .header-panel > .label {
  -fx-font-weight: bold;
  -fx-text-fill: #d8c601;
  -fx-font-size: 20px;
}

.reset-high-scores-alert .content {
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-text-fill: #c51222;
}

.reset-high-scores-alert .button {
  -fx-max-width: 130;
  -fx-min-width: 130;
  -fx-font-size: 20px;
  -fx-background-radius: 11px;
  -fx-border-radius: 10px;
  -fx-border-width: 1px;
}

.reset-high-scores-alert .reset-confirm-button {
  -fx-background-color: #ff6b6b; /* Red */
  -fx-text-fill: #dad8d8; /* White-ish */
}

.reset-high-scores-alert .reset-cancel-button {
  -fx-background-color: #feca57; /* Yellow */
  -fx-text-fill: black;
}

.reset-high-scores-alert .reset-confirm-button:hover {
  -fx-background-color: #ff5252; /* Darker Red */
  -fx-text-fill: #e1dfdf;
}

.reset-high-scores-alert .reset-cancel-button:hover {
  -fx-background-color: #ffb900; /* Darker Yellow */
  -fx-text-fill: black;
}

.keybinding-alert {
  -fx-background-color: rgb(174, 173, 173);
  -fx-border-width: 0;
}

.keybinding-alert > .header-panel {
  -fx-background-color: rgb(174, 173, 173);
}

.keybinding-alert > .header-panel > .label {
  -fx-font-weight: bold;
  -fx-text-fill: #100f0f;
  -fx-font-size: 20px;
}

.keybinding-alert > .content > .text-field {
  -fx-pref-width: 200px;
  -fx-background-color: rgb(140, 139, 139);
  -fx-text-alignment: center;
}


.keybinding-alert .button {
  -fx-text-fill: bisque;
  -fx-background-color: #1a8fe3;
  -fx-max-width: 130;
  -fx-min-width: 130;
  -fx-font-size: 20px;
  -fx-background-radius: 11px;
  -fx-border-radius: 10px;
  -fx-border-width: 1px;
}

.keybinding-alert .confirm-button {
  -fx-background-color: #2e8300;
}

.keybinding-alert .cancel-button {
  -fx-background-color: #830000;
}

.keybinding-alert .cancel-button:hover {
  -fx-background-color: #fa2626;
}

.keybinding-alert .confirm-button:hover {
  -fx-background-color: #3fb300;
}

.keybinding-prompt {
  -fx-background-color: rgb(174, 173, 173);
}

/*
Styles for ScoreBoard
 */
.scoreboard {
  -fx-background-color: rgba(250, 200, 80, 0.9);
  -fx-padding: 20;
  -fx-text-fill: #404040;
  -fx-border-color: gold;
  -fx-border-width: 3px;
  -fx-border-radius: 15px;
  -fx-background-radius: 15px
}

.scoreboard-title {
  -fx-font-family: 'Medieval Scroll of Wisdom';
  -fx-font-size: 30px;
  -fx-text-fill: #ffc400;
  -fx-background-color: rgb(64, 63, 63);
  -fx-background-radius: 15px;
  -fx-alignment: center;
  -fx-padding: 10px 40px;
  -fx-translate-y: -10
}

.podium {
  -fx-fill-width: true;
  -fx-text-alignment: center;
  -fx-padding: 35 10 10 10;
}

.podium-item {
  -fx-background-color: rgba(255, 255, 255, 0.7);
  -fx-padding: 10;
  -fx-background-radius: 15;
  -fx-min-width: 200;
}

.first {
  -fx-translate-y: -30;
}

.other-scores {
  -fx-padding: 20 0 0 0;
  -fx-start-margin: 10;
  -fx-alignment: center;
  -fx-max-width: 850px;
}

.score-line {
  -fx-text-alignment: justify;
  -fx-alignment: center-left;
  -fx-padding: 5 20;
  -fx-background-color: grey;
  -fx-background-radius: 10;
  -fx-max-width: 800px;
  -fx-min-width: 600px;
}

.score-rank {
  -fx-min-width: 30;
  -fx-max-width: 30;
  -fx-alignment: center-left;
}

.score-line-name {
  -fx-min-width: 220;
  -fx-max-width: 220;
  -fx-font-weight: bold;
}

.score-line-name-small {
  -fx-min-width: 180;
  -fx-max-width: 180;
  -fx-font-weight: bold;
  -fx-font-size: 16;
}

.score-line-element {
  -fx-min-width: 130;
  -fx-max-width: 210;
  -fx-alignment: center;
  -fx-content-display: center;
}

.score-line-element-small {
  -fx-min-width: 100;
  -fx-pref-width: 130;
  -fx-max-width: 210;
  -fx-alignment: center;
  -fx-font-size: 16;
  -fx-content-display: center;
}

.centering-pane {
  -fx-alignment: center;
}

.firstScore {
  -fx-font-weight: bold;
  /*-fx-text-fill: #ff9900;*/ /* when it's a Label*/
  -fx-fill: #ff9900; /* when it's a Text */
  -fx-stroke: #494646;
}

.second {
  -fx-font-weight: bold;
  /*-fx-text-fill: #8e8e8d;*/
  -fx-fill: #8e8e8d;
  -fx-stroke: #494646;

}

.third {
  -fx-font-weight: bold;
  /*-fx-text-fill: #6a483c;*/
  -fx-fill: #6a483c;
  -fx-stroke: #494646;

}

.score-value {
  -fx-fill: #ea204d;
  -fx-font-weight: bold;
  -fx-stroke: #322929;
}

/*
Options styles
 */
.option-titled-pane > .title {
  -fx-background-color: #676767;
  -fx-font-weight: bold;
}

.option-titled-pane > .content {
  -fx-background-color: #505050;
  -fx-border-width: 0;
}

.option-titled-pane > .content .label {
  -fx-text-fill: #e1e1e1; /* Labels' text's color in the ScoreBoardOption */
  -fx-font-size: 16px;
}

.option-titled-pane > .content .label:hover {
  -fx-text-fill: #e8c44c;
}

.option-titled-pane > .title > .arrow-button .arrow {
  -fx-background-color: #ffc400; /* Change arrow color */
  /*-fx-shape: "M0,0 L10,5 L0,10 Z"; !* Change arrow shape *!*/
  -fx-scale-x: 0.8; /* Reduce horizontal size */
  -fx-scale-y: 0.8; /* Reduce vertical size */
}

.option-titled-pane > .title > .arrow-button {
  -fx-background-color: transparent; /* Make the hidden arrow button transparent */
}

.option-line {
  -fx-background-color: #676767;
  -fx-text-fill: #323232;
  -fx-fill: #323232;
  -fx-padding: 5px 0 5px 10px;
  -fx-font-size: 16px;
  -fx-border-style: hidden hidden solid hidden;
  -fx-border-color: rgba(50, 50, 50, 0.8);
}

/*
  Credits overlay
 */
.text-white {
  -fx-fill: white;
}

.text-16 {
  -fx-font-size: 16px;
}

.text-50 {
  -fx-font-size: 50px;
}

.links {
  -fx-text-fill: orange;
  -fx-underline: false;
}

.links:hover {
  -fx-text-fill: #ffc400;
  -fx-underline: true;
}

.links:visited {
  -fx-text-fill: #c58100;
}

.small-text-elem {
  -fx-fill: #958275;
  -fx-font-size: 14px;
}

.small-text-elem:hover {
  -fx-fill: #aca29c;
  -fx-font-size: 14px;
  -fx-cursor: hand;
}

