@font-face {
  font-family: 'Luciole';
  src: url('../fonts/Luciole-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Luciole';
  font-weight: bold;
  src: url('../fonts/Luciole-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MedievalScrollOfWisdom';
  src: url('../fonts/MedievalScrollOfWisdom.ttf') format('truetype');
}

/* .root is the root element of all scenes in JavaFx so things defined in .root are shared amongst all scenes */
.root {
  -fx-font-family: 'Luciole';
  -fx-font-size: 20px;
  -fx-background-color: rgb(64, 63, 63);
}

.medieval-font {
  -fx-font-family: 'Medieval Scroll of Wisdom';
}

.regular-text {
  -fx-font-weight: normal;
}

.bold-text {
  -fx-font-weight: bold;
}


.button {
  -fx-cursor: hand;
  -fx-max-width: 400;
  -fx-min-width: 200;
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-background-color: #699521;
  -fx-background-radius: 16px;
  -fx-border-radius: 15px;
  -fx-border-color: #393838;
  -fx-border-width: 2px;
  -fx-background-insets: 0;

}

.button:hover {
  -fx-background-color: #7fb628;
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 4, 4);
}

.quit-button {
  -fx-background-color: #933434;
}

.quit-button:hover {
  -fx-background-color: #bc4242;
}

.list-view .scroll-bar:vertical {
  -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .thumb {
  -fx-background-color: #a0a0a0;
  -fx-background-radius: 5em;
}

.list-view .scroll-bar:vertical .track {
  -fx-background-color: transparent;
}

/* Styles for the alerts
 */
.alert {
  -fx-background-color: rgb(64, 63, 63);
  -fx-border-color: #c51222;
  -fx-border-radius: 0 0 5px 5px;
  -fx-border-width: 3px;
}

.alert > .header-panel {
  -fx-background-color: rgb(174, 173, 173);
}

.alert > .header-panel > .label {
  -fx-font-weight: bold;
  -fx-text-fill: #c51222;
  -fx-font-size: 20px;
}

.alert .content {
  -fx-text-fill: #d8c601;
}

.alert .button {
  -fx-background-color: #ca7840;
  -fx-text-fill: #a39c95;
  -fx-max-width: 100;
  -fx-min-width: 100;
}

.alert .button:hover {
  -fx-background-color: #ec8d4b;
  -fx-text-fill: #dcd4cb;
}

/*
Styles for ScoreBoard
 */
.scoreBoardTitle {
  -fx-font-family: 'Medieval Scroll of Wisdom';
  -fx-font-size: 30px;
  -fx-text-fill: #ffc400;
  -fx-background-color: rgb(64, 63, 63);
  -fx-background-radius: 15px;
  -fx-alignment: center;
  -fx-padding: 10px 40px;
  -fx-translate-y: -10
}

.podium {
  -fx-fill-width: true;
  -fx-text-alignment: center;
  -fx-padding: 35 10 10 10;
}

.podium-item {
  -fx-background-color: rgba(255, 255, 255, 0.7);
  -fx-padding: 10;
  -fx-background-radius: 15;
  -fx-min-width: 200;
}

.first {
  -fx-translate-y: -30;
}

.other-scores {
  -fx-padding: 20 0 0 0;
  -fx-start-margin: 10;
  -fx-alignment: center;
  -fx-max-width: 850px;
}

.score-line {
  -fx-text-alignment: justify;
  -fx-alignment: center-left;
  -fx-padding: 5 20;
  -fx-background-color: grey;
  -fx-background-radius: 10;
  -fx-max-width: 800px;
  -fx-min-width: 600px;
}

.score-rank {
  -fx-min-width: 30;
  -fx-max-width: 30;
  -fx-alignment: center-left;
}

.score-line-name {
  -fx-min-width: 220;
  -fx-max-width: 220;
  -fx-font-weight: bold;
}

.score-line-name-small {
  -fx-min-width: 180;
  -fx-max-width: 180;
  -fx-font-weight: bold;
  -fx-font-size: 16;
}

.score-line-element {
  -fx-min-width: 130;
  -fx-max-width: 210;
  -fx-alignment: center;
  -fx-content-display: center;
}

.score-line-element-small {
  -fx-min-width: 100;
  -fx-pref-width: 130;
  -fx-max-width: 210;
  -fx-alignment: center;
  -fx-font-size: 16;
  -fx-content-display: center;
}

.centering-pane {
  -fx-alignment: center;
}

.firstScore {
  -fx-font-weight: bold;
  /*-fx-text-fill: #ff9900;*/ /* when it's a Label*/
  -fx-fill: #ff9900; /* when it's a Text */
  -fx-stroke: #494646;
}

.second {
  -fx-font-weight: bold;
  /*-fx-text-fill: #8e8e8d;*/
  -fx-fill: #8e8e8d;
  -fx-stroke: #494646;

}

.third {
  -fx-font-weight: bold;
  /*-fx-text-fill: #6a483c;*/
  -fx-fill: #6a483c;
  -fx-stroke: #494646;

}

.score-value {
  -fx-fill: #ea204d;
  -fx-font-weight: bold;
  -fx-stroke: #322929;
}


